/* Panel under header */
.ui-panel
{
    top: 44px;
    height: calc(100% - 44px);
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push
{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/**/

// These are pretty much resets to jqm.css and the theme
.ui-content,
.ui-footer
{
	.ui-page-theme-b & .ui-btn:active,
	html & .ui-bar-b .ui-btn:active,
	html .ui-body-b & .ui-btn:active,
	html body & .ui-group-theme-b .ui-btn:active,
	html head+body & .ui-btn.ui-btn-b:active
	{
		background-color: #7CC4E7;
		color: white;
	}
}

.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head+body .ui-btn.ui-btn-b.ui-btn-active
{
	background: #333;
	border-color: #1F1F1F;
	color: white;
	text-shadow: 0 1px 0 #111;
}

html .ui-filterable+.ui-listview, html .ui-filterable.ui-listview
{
	margin-top: 0;
}

.ui-listview .ui-li-has-thumb > img:first-child,
.ui-listview .ui-li-has-thumb>.ui-btn > img:first-child,
.ui-listview .ui-li-has-thumb .ui-li-thumb
{
	max-height: 6em;
	max-width: 6em;
	margin-left: 0.85em;
}

// Now, these are my styles
*,
body,
input,
select,
textarea,
button,
.ui-btn
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-family: Roboto, sans-serif;
}

.uppercase
{
	text-transform: uppercase;
}

.ui-content
{
    -webkit-overflow-scrolling: touch;
}

.ui-page-theme-b .ui-header .ui-btn,
.ui-page-theme-b .ui-header .ui-btn:active,
.ui-page-theme-b .ui-header .ui-btn:visited //WTF you guys still use this?
{
	color: white;
}

#home
{
	.ui-content
	{
    	padding-top: 0;
	}

	.ui-filterable
	{
		display: none;
	}
}