@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);

$lightblue: #32B2E2;
$darkgray: #222222;

html
{
	background: #000000;
	background: linear-gradient(to bottom, #000000 0%,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333',GradientType=0 );
	background-size: 100%;
	min-height: 100%;

	*
	{
		font-family: Roboto, sans-serif;
		user-select: none;
	}
}

body
{
	background: transparent;
	margin-top: 46px;
}

button
{
	background: none;
	border: none;
	outline: none;
}

.rotate-90
{
	transform: rotate( 90deg );
}

.header
{
	height: 46px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	border-bottom: 2px solid $darkgray;

	button.left,
	button.right
	{
		font-size: 16px;
		padding: 0;
		display: inline-block;
		height: 44px;
		width: 44px;

		&:active
		{
			background-color: $lightblue;

			&.disabled
			{
				background-color: transparent;
			}
		}

		img
		{
			max-width: 32px;
			max-height: 32px;
			margin: 6px auto;
		}
	}

	#view.home & button.left
	{
		width: 56px;
	}

	.title
	{
		margin: 0;
		height: 44px;
		line-height: 44px;
		font-size: 16px;
		vertical-align: middle;
		color: white;
	}
}

.team-list
{
	.team
	{
		height: 80px;
		position: relative;
		padding: 15px;
		font-size: large;
		border-bottom: 1px solid gray;

		&:active
		{
			background-color: $lightblue;
		}

		.name
		{
			color: white;
			font-weight: bold;
		}

		.pokemons
		{
			position: absolute;
			top: 5px;
			right: 0;

			img
			{
				height: 70px;
			}
		}
	}
}